<!DOCTYPE HTML>
<html>
<head>
    <title>Thymeleaf Knockout Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/static/underscore.string.min.js"></script>
    <script src="/static/jquery.js"></script>
    <script src="/static/knockout-latest.js"></script>
    <script src="/static/app.js"></script>
</head>
<body>
<form action="#" th:action="@{/save/}"
      th:object="${burgerNeuIntent}"
      method="post" id="burgerForm">
    <!--
    <select th:field="${formBean.selectedElement}">
        <option th:each="element : ${formBean.dropDownEntryList}"
                th:value="${element.id}"
                th:text="${element.description}">Element
        </option>
    </select>
  -->
    <div id="knockoutRegion">
        <div>
            <select th:field="*{burgerId}" id="burgerId" data-bind="options: burger,
                       optionsText: 'description',
                       value: selectedBurger,
                       optionsCaption: 'Choose...'"></select>
        </div>


        <div data-bind="visible: sidesVisible">
            <select data-bind="options: sides,
                       optionsText: 'description',
                       value: selectedSide,
                       optionsCaption: 'Choose...'"></select>
        </div>
        <div data-bind="visible: drinksVisible">
            <select data-bind="options: drinks,
                       optionsText: 'description',
                       value: selectedDrink,
                       optionsCaption: 'Choose...'"></select>
        </div>
        <div class="">
            <input class="button" type="submit" value="Order"/>

            <!--http://stackoverflow.com/questions/25426804/add-a-dropdown-dynamically-on-button-click-and-bind-values-using-knockout-->
        </div>
    </div>
</form>

</body>
</html>